{% extends 'login/base.html' %}

{% block rightup %}
    <h3 style="display:inline-block;float:left;">{{date}}未填写进度的任务</h3>
{% endblock rightup %}


{% block right %}
    {# 显示当前页数据 #}
    <table class="table table-hover table-bordered">
         <TR>
             <th>序号</th>
            <th>所属产品</th>
            <th>任务单号</th>
            <th>开发类型</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>任务状态</th>
            <th>操作</th>
        </TR>

        {% for task in task_data %}
            <TR>
                <td>{{forloop.counter|add:start}}</td>
                <td>{{task.products.product_model}}</td>
                <td>{{task.task_num}}</td>
                <td>{{task.dev_type}}</td>
                <td>{{task.start_time|date:"Y-m-d"}}</td>
                <td>{{task.end_time|date:"Y-m-d"}}</td>
                <td>{{task.task_status}}</td>
                <td>
                    <button class="btn btn-primary btn-sm">
                        <a href="/project/progress?detail={{task.task_num}}" style="color:white;">查看进度</a>
                    </button>

                    <button class="btn btn-primary btn-sm">
                        <a href="/project/task?task_num={{task.task_num}}" style="color:white;">更改状态</a>
                    </button>
                </td>
            </TR>
        {% endfor%}
    </table>
    {{wrong}}
    {% endblock right %}

{# 分页 #}
 {% block rightdown %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {# 如果有上一页 #}
            {% if task_data.has_previous %}
                <li>
                    <a href="?page={{task_data.previous_page_number}}&search={{search_data}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {# 显示页码 #}
            {% for pg in task_data.paginator.page_range %}
                {% if task_data.number == pg %}
                    <li class="active">
                        <a href="?search={{search_data}}&page={{pg}}">{{pg}}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="?search={{search_data}}&page={{pg}}">{{pg}}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {# 如果有下一页 #}
            {% if task_data.has_next %}
                <li>
                    <a href="?page={{task_data.next_page_number}}&search={{search_data}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock rightdown %}
