{% extends 'login/base.html' %}
    {% block right %}
    <TABLE class="table table-hover table-bordered">
        <TR>
            <TH>编号</TH>
            <TH>角色名</TH>
            <TH>包含人员</TH>
            <TH>操作</TH>
        </TR>

        <TR>
            <TD>1</TD>
            <TD>管理员</TD>
            <TD>
                {% for admin in admin_set %}
                    {{admin.first_name}}&nbsp;
                {% endfor %}
            </TD>
            <TD></TD>
        </TR>

        <TR>
            <TD>2</TD>
            <TD>组长</TD>
            <TD>{% for leader in leader_set %}
                    {{leader.first_name}}&nbsp;
                {% endfor %}
            </TD>
            <TD></TD>
        </TR>

        <TR>
            <TD>3</TD>
            <TD>组员</TD>
            <TD>
                {% for member in member_set %}
                    {{member.first_name}}&nbsp;
                {% endfor %}
            </TD>
            <TD></TD>
        </TR>

    </TABLE>
    {{wrong}}
    {% endblock right %}