<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Role</title>
    <link rel="stylesheet" href="{% static 'bootstrap-4.5.0/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'jquery-3.4.1/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.5.0/dist/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <TABLE border="1">
        <TR>
            <TH>编号</TH>
            <TH>角色名</TH>
            <TH>包含人员</TH>
            <TH>操作</TH>
        </TR>

        <TR>
            <TD>1</TD>
            <TD>管理员</TD>
            <TD>
                {% for mg in mg_user %}
                    {{mg.username}}&nbsp
                {% endfor %}
            </TD>
            <TD></TD>
        </TR>

        <TR>
            <TD>2</TD>
            <TD>组长</TD>
            <TD>{% for gl in gl_user %}
                    {{gl.username}}&nbsp
                {% endfor %}
            </TD>
            <TD></TD>
        </TR>

        <TR>
            <TD>3</TD>
            <TD>成员</TD>
            <TD>
                {% for mb in mb_user %}
                    {{mb.username}}&nbsp
                {% endfor %}
            </TD>
            <TD></TD>
        </TR>

    </TABLE>
    {{wrong}}
</body>
</html>