{% extends 'login/base.html' %}
    {% block right %}
    <TABLE class="table table-hover table-bordered">
        <TR>
            <th>账号</th>
            <th>姓名</th>
            <th>区域</th>
            <th>邮箱</th>
            <th>创建时间</th>
            <th>最后登录时间</th>
            <th>操作</th>
        </TR>

        {% for user in userset %}
            <TR>
                <TD>{{user.username}}</TD>
                <TD>{{user.first_name}}</TD>
                <TD>{{user.area}}</TD>
                <TD>{{user.email}}</TD>
                <TD>{{user.date_joined}}</TD>
                <TD>{{user.last_login|default_if_none:''}}</TD>
                <TD></TD>
            </TR>
        {% endfor%}
    </TABLE>
    {{wrong}}
    {% endblock right %}