<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap-4.5.0/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'jquery-3.4.1/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.5.0/dist/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <TABLE border="1">
        <TR>
            <TD>账号</TD>
            <TD>姓名</TD>
            <TD>区域</TD>
            <TD>邮箱</TD>
            <TD>创建时间</TD>
            <TD>最后登录时间</TD>
            <TD>操作</TD>
        </TR>

        {% for user in userset %}
            <TR>
                <TD>{{user.account}}</TD>
                <TD>{{user.username}}</TD>
                <TD>{{user.area}}</TD>
                <TD>{{user.email}}</TD>
                <TD>{{user.create_time}}</TD>
                <TD></TD>
                <TD></TD>
            </TR>
        {% endfor%}
    </TABLE>
    {{wrong}}
</body>
</html>