{% extends 'login/base.html' %}

    {% block rightup %}

    {# 导入数据 #}
    <form action="{% url 'project:product_import'%}" method="post" enctype="multipart/form-data" role="form">
        {% csrf_token %}
        <div class="form-group">
        <input type="file" name="product_file" required style="display:inline-block;float: right;">
        <button type="submit" class="btn btn-primary" style="display:inline-block;float: right;">导入数据</button>
        </div>
    </form>

    {# 搜索框 #}
    <form action="" method="get" role="form">
        <div class="form-group">
        <input type="text" name="search" required style="display:inline-block;float:left;" placeholder="输入产品型号或名称">
        <button type="submit" class="btn btn-primary" style="display:inline-block;float:left;">查询</button>
        </div>
    </form>

    {# 导出数据 #}
    <a href="{% url 'project:product_download' 1 %}">
        <button class="btn btn-primary" type="button" style="display:inline-block;float: right;">导出数据</button>
    </a>

    {# 导出模板 #}
    <a href="{% url 'project:product_download' 2 %}">
        <button class="btn btn-primary" type="button" style="display:inline-block;float: right;">导出模板</button>
    </a>

    {# 手动添加一条数据，按钮触发模态框 #}
    <button class="btn btn-primary" data-toggle="modal" data-target="#add" style="display:inline-block;float: left;">添加</button>
    {# 模态框（Modal） #}
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		    <div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">添加产品</h4>
				</div>

				<div class="modal-body">
					<form method="post" class="form-horizontal" role="form" action="{% url 'project:product_add' %}">
						{% csrf_token %}

                        <div class="form-group">
							<label for="project_num" class="col-sm-3 control-label">所属项目</label>
							<div class="col-sm-9">
								<input type="text" id="project_num" name="project_num" class="form-control" required>
							</div>
						</div>

						<div class="form-group">
							<label for="product_model" class="col-sm-3 control-label">产品型号</label>
							<div class="col-sm-9">
								<input type="text" id="product_model" name="product_model" class="form-control" required>
							</div>
						</div>

						<div class="form-group">
							<label for="product_type" class="col-sm-3 control-label">产品类型</label>
							<div class="col-sm-9">
								<input type="text" id="product_type" name="product_type" class="form-control" required>
							</div>
						</div>

						<div class="form-group">
							<label for="product_name" class="col-sm-3 control-label">产品名称</label>
							<div class="col-sm-9">
								<input type="text" id="product_name" name="product_name" class="form-control" required>
							</div>
						</div>

						<div class="text-right">
							<button type="button" class="btn btn-close" data-dismiss="modal">关闭</button>
							<button type="submit" class="btn btn-primary" >确定</button>
						</div>
					</form>
				</div>
		    </div>
		</div>
	</div>
    {% endblock rightup %}


    {% block right %}
    {# 显示当前页数据 #}
    <table class="table table-hover table-bordered">
        <TR>
            <th>序号</th>
            <th>所属项目</th>
            <th>产品型号</th>
            <th>产品名称</th>
            <th>产品类型</th>
            <th>操作</th>
        </TR>
        {% for product in product_data %}
            <TR>
                <TD>{{forloop.counter|add:start}}</TD>
                <td>{{product.projects.project_num}}</td>
                <TD>{{product.product_model}}</TD>
                <TD>{{product.product_name}}</TD>
                <TD>{{product.product_type}}</TD>
                <TD>

                    <button class="btn btn-primary btn-sm" >
                        <a href="/project/task?detail={{product.product_model}}" style="color:white;">详情</a>
                    </button>

                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#my{{product.product_model}}">删除</button>
                    {# 模态框 删除 #}
                    <div class="modal fade" id="my{{product.product_model}}" tabindex="-1" role="dialog" aria-labelledby="{{product.product_model}}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="i{{product.product_model}}">删除产品</h4>
                            </div>
                            <div class="modal-body">确定删除该条数据？</div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <a href="?page={{product_data.number}}&del_id={{product.product_model}}">
                                <button type="button" class="btn btn-danger btn-sm">删除</button>
                            </a>
                         </div>
                      </div>
                      </div>
                      </div>

                     {# 手动修改一条数据，按钮触发模态框  同一页面模态框id、target值不能一样 #}
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#{{product.product_model}}" style="display:inline-block;float: left;">修改</button>
                    {# 模态框 #}
                    <div class="modal fade" id="{{product.product_model}}" tabindex="-1" role="dialog" aria-labelledby="{{forloop.counter|add:start}}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="{{forloop.counter|add:start}}">修改产品</h4>
                                </div>

                                <div class="modal-body">
                                    <form method="post" class="form-horizontal" role="form" action="{% url 'project:product_modify' %}">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <label for="modify_num" class="col-sm-3 control-label">所属项目</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="modify_num" name="project_num" class="form-control"
                                                       required value="{{product.projects.project_num}}" readonly>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="modify_model" class="col-sm-3 control-label">产品型号</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="modify_model" name="product_model" class="form-control"
                                                       required value="{{product.product_model}}" readonly>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="modify_type" class="col-sm-3 control-label">产品类型</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="modify_type" name="product_type" class="form-control"
                                                       required value="{{product.product_type}}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="modify_name" class="col-sm-3 control-label">产品名称</label>
                                            <div class="col-sm-9">
                                                <input type="text" id="modify_name" name="product_name" class="form-control"
                                                       value="{{product.product_name}}" required>
                                            </div>
                                        </div>

                                        <div class="text-right">
                                            <button type="button" class="btn btn-close" data-dismiss="modal">关闭</button>
                                            <button type="submit" class="btn btn-primary" >确定</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </TD>
            </TR>
        {% endfor%}
    </table>
    {{wrong}}
    {% endblock right %}

{# 分页 #}
 {% block rightdown %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {# 如果有上一页 #}
            {% if product_data.has_previous %}
                <li>
                    <a href="?page={{product_data.previous_page_number}}&search={{search_data}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {# 显示页码 #}
            {% for pg in product_data.paginator.page_range %}
                {% if product_data.number == pg %}
                    <li class="active">
                        <a href="?search={{search_data}}&page={{pg}}">{{pg}}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="?search={{search_data}}&page={{pg}}">{{pg}}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {# 如果有下一页 #}
            {% if product_data.has_next %}
                <li>
                    <a href="?page={{product_data.next_page_number}}&search={{search_data}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock rightdown %}

