{% extends 'login/base.html' %}
    {% block right %}
    <TABLE class="table table-hover table-bordered">
        <TR>
            <th>任务单号</th>
            <th>项目编号名称</th>
            <th>日期</th>
            <th>产品型号</th>
            <th>执行人</th>
            <th>工时</th>
            <th>开发记录</th>
            <th>操作</th>
        </TR>

        {% for progress in progressset %}
            <TR>
                <TD>{{progress.t_num}}</TD>
                <TD>{{progress.pj_num_name}}</TD>
                <TD>{{progress.data}}</TD>
                <TD>{{progress.pd_model}}</TD>
                <TD>{{progress.executor}}</TD>
                <TD>{{progress.hours}}</TD>
                <TD>{{progress.record}}</TD>
            </TR>
        {% endfor%}
    </TABLE>
    {{wrong}}
    {% endblock right %}