{% extends 'login/base.html' %}
    {% block right %}
    <TABLE class="table table-hover table-bordered">
        <TR>
            <th>项目编号</th>
            <th>项目名称</th>
            <th>产品型号</th>
            <th>项目经理</th>
            <th>所属事业部</th>
            <th>操作</th>
        </TR>

        {% for project in projectset %}
            <TR>
                <TD>{{project.pj_num}}</TD>
                <TD>{{project.pj_name}}</TD>
                <TD>{{project.pd_model}}</TD>
                <TD>{{project.pj_manager}}</TD>
                <TD>{{project.bd}}</TD>
            </TR>
        {% endfor%}
    </TABLE>
    {{wrong}}
    {% endblock right %}