<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap-4.5.0/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'jquery-3.4.1/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.5.0/dist/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <TABLE border="1">
        <TR>
            <TD>项目编号</TD>
            <TD>项目名称</TD>
            <TD>产品型号</TD>
            <TD>项目经理</TD>
            <TD>所属事业部</TD>
            <TD>操作</TD>
        </TR>

        {% for project in projectset %}
            <TR>
                <TD>{{project.pj_num}}</TD>
                <TD>{{project.pj_name}}</TD>
                <TD>{{project.pd_model}}</TD>
                <TD>{{project.pj_manager}}</TD>
                <TD>{{project.bd}}</TD>
            </TR>
        {% endfor%}
    </TABLE>
    {{wrong}}
</body>
</html>