{% extends 'login/base.html' %}
    {% block right %}
    <TABLE class="table table-hover table-bordered">
        <TR>
            <th>任务单号</th>
            <th>产品型号</th>
            <th>项目编号名称</th>
            <th>开发类型</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>任务状态</th>
            <th>操作</th>
        </TR>

        {% for task in taskset %}
            <TR>
                <th>{{task.t_num}}</th>
                <th>{{task.pj_num_name}}</th>
                <th>{{task.pd_model}}</th>
                <th>{{task.dev_type}}</th>
                <th>{{task.s_time}}</th>
                <th>{{task.e_time}}</th>
                <th>{{task.t_status}}</th>
            </TR>
        {% endfor%}
    </TABLE>
    {{wrong}}
    {% endblock right %}