{% extends 'login/base.html' %}
    {% block right %}
    <TABLE class="table table-hover table-bordered">
        <TR>
            <th>任务单号</th>
            <th>项目编号名称</th>
            <th>版本数</th>
            <th>版本名称</th>
            <th>执行人</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>操作</th>
        </TR>

        {% for vision in visionset %}
            <TR>
                <TD>{{vision.t_num}}</TD>
                <TD>{{vision.pj_num_name}}</TD>
                <TD>{{vision.v_num}}</TD>
                <TD>{{vision.v_name}}</TD>
                <TD>{{vision.executor}}</TD>
                <TD>{{vision.s_time}}</TD>
                <TD>{{vision.e_time}}</TD>


            </TR>
        {% endfor%}
    </TABLE>
    {{wrong}}
    {% endblock right %}